body {
    padding: 0;
    min-width: 750px;   /* 컨텐츠 최소 너비 지정 */
    max-width: 1200px;  /* 컨텐츠의 최대 너비 지정 */
    margin: 0 auto;     /* 컨텐츠를 중앙에 위치 */
}

body > * {
    padding: 0 30px;    /* 컨텐츠가 사이드에 딱 붙지 않게 */
}

/******** header 시작 ********/
header {
    padding-top: 30px;
    background-color: #F2E9D8;
    height: 900px;
}

header nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    font-size: 16px;
    margin-right: 20px;
}

nav a {
    font-size: 16px;
    text-decoration: none;
}

nav a:visited, nav a:active {
    color: black;
}

#logo {
    vertical-align: middle;
}

.left-margin {
    margin: 0 0 0 20px;
}

.button-style {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    padding: 14px 33px;
    text-align: center;
    border-radius: 40px;
    background-color: #D97652;
    color: white;
    text-decoration: none;
}

.button-style:visited, .button-style:active {
    color: white;
}

header h1 {
    margin-top: 200px;
    font-size: 48px;
    width: 695px;
}

header p {
    width: 420px;
}

.header-element-margin-top {
    margin-top: 30px;
}

/******** header 끝 ********/


/******** main 시작 ********/
main {
    background-color: white;
    width: 200%;
    height: 100px;
}